body {
    font-family: Arial, sans-serif;
  
}

.chat-box {
    background-color: dodgerblue;
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: cornflowerblue;
    font-weight: bold;
    margin-bottom: 10px;
}

.chat-messages {
    background-color: azure;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

#chat-input {
    width: calc(100% - 60px);
    padding: 5px;
}

button {
    padding: 5px 10px;
}
